body {
    height: 2000px;
    margin: 0;
}

.wd-1120 {
    width: 1120px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#screenGear {
    background: #f7f8fa;
}

#screenGear .wd-1120 {
    height: 960px;
    position: relative;
}




