/*
** util
*/
.m-fade {
    transition: opacity 600ms linear 0ms;
    opacity: 0;
}

.m-fade.m-fade-in {
    opacity: 1;
!important;
}

.m-fade.m-fade-out {
    opacity: 0;
!important;
}

#mediaAnimation {
    font-size: 16px;
    width: 22.5em;
    height: 26em;
    overflow-x: hidden; /* 禁止横向滚动*/
    position: relative;
    visibility: hidden;
}

#mediaAnimation .scene {
    position: relative;
    width: 100%;
    height: 25.25em;
    top: 0;
}

#mediaAnimation .scene:nth-child(2) {
    top: -25.25em;
}

#mediaAnimation .scene:nth-child(3) {
    top: -50.5em;
}

#mediaAnimation .scene:nth-child(4) {
    top: -75.75em;
}

#mediaAnimation .scene:nth-child(5) {
    top: -101.0em;
}

#mediaAnimation .scene:nth-child(6) {
    top: -126.25em;
}

#mediaAnimation .scene:nth-child(7) {
    top: -151.5em;
}

#mediaAnimation .scene:nth-child(8) {
    top: -176.75em;
}

#mediaAnimation .scene:nth-child(9) {
    top: -202.0em;
}

#mediaAnimation .scene:nth-child(10) {
    top: -227.25em;
}

#mediaAnimation .scene:nth-child(11) {
    top: -252.5em;
}

#mediaAnimation .scene:nth-child(12) {
    top: -277.75em;
}

#mediaAnimation .svg {
    display: block;
    position: absolute;
    visibility: hidden;
}

#mediaAnimation .newspaper {
    top: 0;
    left: 7.125em;
}

#mediaAnimation .bustop {
    top: 20.0em;
    left: 3.875em;
}

#mediaAnimation .letter {
    left: 0.625em;
    top: 7.25em;
}

#mediaAnimation .outdoor {
    left: 2.375em;
    top: 12.625em;
}

#mediaAnimation .msg {
    left: 3.25em;
    top: 2.25em;
}

#mediaAnimation .cup {
    left: -1.5em;
    top: 12.0em;
}

/* PHONE*/
#mediaAnimation .phone {
    left: 7.375em;
    top: 4.25em;
    width: 7.75em;
!important;
    height: 15.0em;
!important;
}

#mediaAnimation .video-container {
    position: absolute;
    width: 6.5625em;
    height: 12.375em;
    left: 7.95em;
    top: 5.5em;

}

.video-container .screen {
    width: 100%;
    height: 100%;
}

.video-container .video {
    width: 1px;
    height: 1px;
}

.video-container .video-control {
    position: absolute;
    width: 1.5625em;
    height: 1.5625em;
    left: 2.5em;
    bottom: 1.875em;
}

.video-control .loading,
.video-control .replay {
    display: none;
    width: 100%;
    height: 100%;
}

/* RIGHT*/
#mediaAnimation .video {
    right: 0.5em;
    top: 12.875em;
}

#mediaAnimation .speaker {
    right: 5.5em;
    top: 0.625em;
}

#mediaAnimation .mail {
    right: 1em;
    top: 1.75em;
}

#mediaAnimation .tv {
    right: -2em;
    top: 6.75em;
}

#mediaAnimation .shirt {
    top: 21.25em;
    right: 5.84375em;
}

#mediaAnimation2 .video-mp4 {
    position: absolute;
    width: 190px;
    height: 354px;
    left: 29.0625em;
    top: 2.1875em;
}

#mediaAnimation2 .video-control {
    position: absolute;
    width: 50px;
    height: 50px;
    overflow: hidden;
    left: 33.4375em;
    bottom: 5.25em;

}

#mediaAnimation2 .video-control .replay {
    cursor: pointer;
}

#mediaAnimation2 .video-control .replay,
#mediaAnimation2 .video-control .loading {
    display: none;
}

#mediaAnimation2 .letter {
    position: absolute;
    left: 4.625em;
    top: 9.75em;
}

#mediaAnimation2 .newspaper {
    position: absolute;
    left: 19.625em;
    top: 1.875em;
}

#mediaAnimation2 .bustop {
    position: absolute;
    left: 15.1875em;
    top: 19.25em;
}

#mediaAnimation2 .outdoor {
    position: absolute;
    left: 21.5625em;
    top: 9.4375em;
}

#mediaAnimation2 .msg {
    position: absolute;
    left: 15em;
    top: 7.625em;
}

#mediaAnimation2 .cup {
    position: absolute;
    left: 8.75em;
    top: 17.125em;
}

#mediaAnimation2 .video {
    position: absolute;
    top: 8.875em;
    right: 13.5625em;
}

#mediaAnimation2 .speaker {
    position: absolute;
    top: 3.375em;
    right: 19.75em;
}

#mediaAnimation2 .shirt {
    position: absolute;
    top: 6.5em;
    right: 5.875em;
}

#mediaAnimation2 .mail {
    position: absolute;
    top: 14.625em;
    right: 4.625em;
}

#mediaAnimation2 .tv {
    position: absolute;
    top: 19em;
    right: 15.0em;
}

#mediaAnimation2 object.later {
    visibility: hidden;
}

*
*
#mediaAnimation2 .scene {
    position: relative;
    width: 100%;
    height: 26.75em;
    top: 0;
}

#mediaAnimation2 .scene:nth-child(2) {
    top: -26.75em;
}

#mediaAnimation2 .scene:nth-child(3) {
    top: -53.5em;
}

#mediaAnimation2 .scene:nth-child(4) {
    top: -80.25em;
}

#mediaAnimation2 .scene:nth-child(5) {
    top: -107.0em;
}

#mediaAnimation2 .scene:nth-child(6) {
    top: -133.75em;
}

#mediaAnimation2 .scene:nth-child(7) {
    top: -160.5em;
}

#mediaAnimation2 .scene:nth-child(8) {
    top: -187.25em;
}

#mediaAnimation2 .scene:nth-child(9) {
    top: -214.0em;
}

#mediaAnimation2 .scene:nth-child(10) {
    top: -240.75em;
}

#mediaAnimation2 .scene:nth-child(11) {
    top: -267.5em;
}

#mediaAnimation2 .scene:nth-child(12) {
    top: -294.25em;
}

